body{
    margin:0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: rgb(0, 0, 0);
    color:white;
    overflow: hidden;
    

    
}
.main{
    width:100vw;
    height:100vh;
    display:flex;
    flex-wrap:wrap ;
    justify-content: space-evenly;

}
.side{
    width:20%;
    height:700px;
    
    background-color: rgb(0, 0, 0);
    margin:10px;
    border-radius: 1rem;
    
    
}
.bottom{
    height:100px;
    width:100%;
    background-color:rgb(0, 0, 0) ;
    position:fixed;
    bottom: 0%;
    margin-top: 10px;;
}
.front{
    background-color: rgb(35, 35, 35);
    flex:1;
    margin:10px;
    border-radius: 1rem;
    overflow:auto;
    height: 700px;
    overflow-x: hidden;
    
}

.side .one{
    width:20%;
    height: 150px;
    position:absolute;

    top: 10px;
    border-radius: 1rem;
    background-color: rgb(35, 35, 35);
   
}
a{
     color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight:800;
    line-height: 50px;
}
i{
   font-size: 25px;
    font-weight: 200;
    padding-right: 10px;
    padding-left: 30px;;
    padding-top: 20px;;
}
/* #light a,#light i{
    color:rgb(241, 235, 235,0.5)
} */
#light{
    opacity:0.5;
}
#light:hover{
    opacity:1;

}
.two{
    width:20%;
    position: absolute;
    top:170px;
    height:540px;
    background-color: rgb(37, 37, 37);
    border-radius: 1rem;
}
.btn{
    margin-left:25px;
}
.btn button{
    background-color: rgb(59, 58, 58);
    height:35px;
    font-weight: 500;
    font-size: 15px;
    width:80px;
    color:white;
    border-radius:20px;
    border:rgb(59, 58, 58) ;
    margin-bottom: 5px;
    
    text-align: center;
}

.playlist{
    background-color: rgb(53, 51, 51);
    margin:10px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    

}
.playlist button{
    height:35px;
    width:150px;
    border-radius: 20px;
    font-weight: 700;
    border: none;

}.playlist p{
    font-size: 14px;;
}
.top{
    padding:10px;
    
   
    height:100px;
    width:100%;
    background-color:rgb(33, 33, 59);
    position:sticky;
    top:0;
    right:0;
}
.stick{
    display: flex;
    padding-top: 10px;

}
.icon i{
    font-size:30px;
    padding: 0;
    color:white;
    opacity: 0.5;
    padding-right: 25px;
    
}

.right i{
    padding:0;
    padding-right: 5px;
    font-size: 15px;
}
.stick button{
    height:35px;
    font-size: 15px;
    font-weight:600;
    border-radius: 20px;
    padding: 10px 10px 10px 10px ;
    border: none;
    margin-right: 10px;
    
}
.stick button:hover{
    font-size:15.5px ;

}
.right{
    position:absolute;
    right:20px;
 
}
.down{
    padding-top: 20px;
    

}
.down button{
    height:40px;
    border-radius:20px;
    padding:0 15px 0 15px;
    font-size:15px;
    font-weight:500;
    background-color:rgb(52, 52, 69);
    color: white;
    border:none;
    margin: 2px;
}
.content{
   
    font-size:larger;
    text-align: justify;
    padding: 10px;
    overflow-x:hidden;
}
.cardmake{
    width:180px;
    font-size: medium;
   
    padding: 20px;;

}
.cardmake img{
    height:170px;
    width:165px;
    border-radius: 10px;
}
.cards{
    display: flex;
}
.cardmake:hover{
    background-color: rgb(48, 48, 48);
    border-radius:10px;
}
.bottom{
    display: flex;
}
.music{
    width:25%;
    
}
.player{
    width:50%;
   
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.option{
    width:25%;
    
  
    
}
.option i{
    padding: 10px;
    font-size:18px;
    
}
/* #volume{
    height:5px;
   
} */
.center{
    padding-left:30px;
    position:absolute;
    bottom:40px;
    

}
.center i{
    padding:10px;
    font-size: 20px;
    
}
#play{
    font-size: 40px;
}
.range{
    position:absolute;
    bottom:20px;
    
}
#input{
    width:600px;
    height:5px;
}
.side_icon{
    position:absolute;
    bottom:40px;
    
}
.songs img{
    height:70px;
    width:70px;
    border-radius: 10px;;
    
}
.songs{
    display: flex;
    margin:20px;
    margin-top: 0;
}
.songs p{
    margin:0;
    line-height: 20px;;

}
.name{
    margin:20px 0px 20px 20px ;
}
.songs i{
    padding: 30px 0px 0px 10px;
    font-size: 17px;;
}
